body {
    padding-top: 50px;
    padding-bottom: 20px;
    background-image: url(NewImages/trees_full_of_snow.jpg);
    background-size:contain;
    background-repeat:no-repeat;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;

}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}


/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
  
  max-width: 400px;
}
.form-control
{
    min-width: 325px;

}

.message .form-control {
    min-height:200px;
    min-width:400px;
}


.jumbotron .SmallHeader
{
    font-size:35px;
}
.SmallHeader
{
     font-size:25px;
}
.form-control textarea text
{

}
.hero-slide
{ 
    margin-top:-20px;

}




/*.sidebar1, .sidebar2 {
     height: 100%;
    top:60px;
    bottom:30px;
   max-width: 200px;
    position:absolute;
     padding-left: 15px;
    padding-right: 15px;
     padding-top: 50px;
    padding-bottom: 20px;
 
    padding-top:60px;
    position:absolute;
    -moz-box-sizing:border-box;
    -webkit-box-sizing:border-box;
    -o-box-sizing:border-box;
    -ms-box-sizing:border-box;
    box-sizing:border-box;
}

.sidebar1 {
    
    left:0;
    
}

.sidebar2 {
    right: 0;
}*/