
@{
    ViewBag.Title = "Mowing | TheNorthernHandyman";

}
<h1>Mowing</h1>
<div class="jumbotron">
   
    <p>
        <h4>
            Keep your yard looking neet and tidy all summer long.
            Whether you need recurring services all season, or
            Weekly and Bi-Weekly services, The Northern Handyman can
            work to meet your full lawn and landscape maintenence needs.
            Service can include: Mowing, Trimming around Trees,Landscape
            beds, your home and blowing away the clippings from sidewalks and drive way.
        </h4>
    </p>

    <div class="list-group">
        <h4 class="list-group-item-heading">Albums</h4>
    </div>
    <div class="gallery">
        <div class="row">
            @*<div class="col-lg-3">
                <a href="http://www.thenorthernhandyman.org/ServicePage/MowingAlbums" data-title="">
                    <img src="~/Content/NewImages/Mowing/Mowing_1.jpg" width="200" height="45" class="img-thumbnail" />
                </a>
            </div>*@
        </div>
    </div>
</div>
<ul class="pager">
    <li class="previous"><a href="http://www.thenorthernhandyman.org/ServicePage/SnowRemovalAlbums">« Back</a></li>
    <li class="next"><a href="http://www.thenorthernhandyman.org/ServicePage/ProjectAlbums">Next »</a></li>
</ul>
<div class="list-group">
    <a href="#" class="list-group-item">
        <h4 class="list-group-item-heading">Videos</h4>
    </a>
</div>
<ul class="pager">
    <li class="previous"><a href="http://www.thenorthernhandyman.org/ServicePage/SnowRemovalAlbums">« Back</a></li>
    <li class="next"><a href="http://www.thenorthernhandyman.org/ServicePage/ProjectAlbums">Next »</a></li>
</ul>
<br />
<br />
<br />
<footer>
    <p>
        <small>&copy; @DateTime.Now.Year - TheNorthernHandyman | Mowing</small><br />
        <small> Town of New London - Wauapaca County<br /></small>
    </p>
</footer> 