
@{
    ViewBag.Title = "Recent Projects | TheNorthernHandyman";
}
<h1>Recent Projects</h1>
<div class="jumbotron">

    <div class="list-group">
        <h4 class="list-group-item-heading">Albums</h4>
    </div>
    <div class="gallery">
        <div class="row">
            <div class="col-lg-3">
                

                <a href="http://www.thenorthernhandyman.org/ImageGallery/FirePitParents" data-title="">
                    <img src="~/Content/NewImages/Projects/FirePit/FirePit_1of1.png" width="200" height="45" class="img-thumbnail" />
                </a>
                <a href="http://www.thenorthernhandyman.org/ImageGallery/FirePitMelina" data-title="Before">
                    <img src="~/Content/NewImages/Projects/FirePit/FirePit_2of2.jpg" width="200" height="45" class="img-thumbnail" />
                </a>
                <h5>
                    FirePit
                </h5>
            </div>
            <div class="col-lg-3">
               
                <a href="http://www.thenorthernhandyman.org/ImageGallery/RetainingWall" data-title="">
                    <img src="~/Content/NewImages/Projects/RetainingWall/RetainingWall_3of3.jpg" width="200" height="45" class="img-thumbnail" />
                </a>
                <h5>
                    RetainingWall
                </h5>
            </div>
        </div>
    </div>
</div>
<ul class="pager">
    <li class="previous"><a href="http://www.thenorthernhandyman.org/ServicePage/MowingAlbums">« Back</a></li>
    <li class="next"><a href="http://www.thenorthernhandyman.org/HomePage/Index">Next »</a></li>
</ul>
<div class="list-group">
    <a href="#" class="list-group-item">
        <h4 class="list-group-item-heading">Videos</h4>
        <video controls="controls">
            <source src="~/Content/Images/Videos/Trimming1.wmv" type="video/x-ms-wmv" />
        </video>
        <video controls="controls">
            <source src="~/Content/Images/Videos/Trimming2.wmv" type="video/x-ms-wmv" />
        </video>
    </a>
</div>
<ul class="pager">
    <li class="previous"><a href="http://www.thenorthernhandyman.org/ServicePage/MowingAlbums">« Back</a></li>
    <li class="next"><a href="http://www.thenorthernhandyman.org/HomePage/Index">Next »</a></li>
</ul>
<br />
<br />
<br />
<footer>
    <p>
        <small>&copy; @DateTime.Now.Year - TheNorthernHandyman | RecentProjects</small><br />
        <small> Town of New London - Wauapaca County<br /></small>
    </p>
</footer>


