@{
    ViewBag.Title = "Skid Steer Work | TheNorthernHandyman";
}
 
<h1>
    Skid Steer Work
</h1>

      <div id="scrollable2">
          <div class="jumbotron">
              <div class="list-group">
                  <h4 class="list-group-item-heading">Albums</h4>
              </div>
              <br />

              <div class="gallery">
                  <div class="row">
                      <div class="col-lg-3">
                          <a href="http://www.thenorthernhandyman.org/ImageGallery/SnowRemoval" data-title="#">
                              <img src="~/Content/NewImages/SnowRemoval/SnowRemoval/SnowRemoval.PNG" width="200" height="45" class="img-thumbnail" />
                          </a>
                          <h5>
                              Snow Blowing/Plowing
                          </h5>
                      </div>
                      <div class="col-lg-3">
                          <a href="http://www.thenorthernhandyman.org/ImageGallery/Sweeper" data-title="#">
                              <img src="~/Content/NewImages/SkidSteer/Sweeper/Sweeper.PNG" width="200" height="45" class="img-thumbnail" />
                          </a>
                          <h5>
                              Parking Lot/Driveway Sweeping
                          </h5>
                      </div>
                      <div class="col-lg-3">
                          <a href="#" data-title="#">
                              <img src="#" width="200" height="45" class="img-thumbnail" />
                          </a>
                          <h5>
                              Brush/Rock Removal
                          </h5>
                      </div>
                      <div class="col-lg-3">
                          <a href="#" data-title="#">
                              <img src="#" width="200" height="45" class="img-thumbnail" />
                          </a>
                          <h5>Landscaping</h5>
                      </div>

                  </div>
              </div>
          </div>
          </div>
          <ul class="pager">
              <li class="previous"><a href="http://www.thenorthernhandyman.org/HomePage/Services">« Back</a></li>
              <li class="next"><a href="http://www.thenorthernhandyman.org/ServicePage/TreeRemovalAlbums">Next »</a></li>
          </ul>

          <div class="list-group">
              <a href="#" class="list-group-item">
                  <h4 class="list-group-item-heading">Videos</h4>
                  <video controls="controls">
                      <source src="~/Content/Images/Videos/SkidSteer1.wmv" type="video/x-ms-wmv" />
                  </video>
              </a>
          </div>

          <ul class="pager">
              <li class="previous"><a href="http://www.thenorthernhandyman.org/HomePage/Services">« Back</a></li>
              <li class="next"><a href="http://www.thenorthernhandyman.org/ServicePage/TreeRemovalAlbums">Next »</a></li>
          </ul>
          <br />
          <br />
          <br />
          <footer>
              <p>
                  <small>&copy; @DateTime.Now.Year - TheNorthernHandyman | Services</small><br />
                  <small> Town of New London - Wauapaca County<br /></small>
              </p>
          </footer>
