@{
    ViewBag.Title = "Snow Removal | TheNorthernHandyman";
}
<nav class="pdsa-sn-wrapper"></nav>
@section sideBar
{
    <div class="row">
        <div class="col-md-2">
            SideBar
        </div>
        <div class="col-md-10">
           gghfdjkhkjhhjffdg
        </div>
    </div>
}
<h1 class="SmallHeader">Snow Removal</h1>
<div class="jumbotron">
    @*<div class="list-group">
        <h4 class="list-group-item-heading">Albums</h4>
    </div>*@
    <p>
        <h4>
            We Believe Snow removal should be available to everyone,
            so we provide both all-season and one-time snow removal.
            Now you never have to worry about braving the cold and
            handling the snow on your own.
        </h4>
    </p>
    <br />
    <br />
    <div class="gallery">
        <div class="row">
            @*<div class="col-lg-3">*@
                @*This Referecnes the Content/Images Folder*@    @*The Data Lightbox is the Grouping of the picutres.  the album name *@
                @*<a href="http://www.thenorthernhandyman.org/Home/SnowRemovalGallery" data-title="Skid Steer-Snow Blower Attachment">
                    <img src="~/Content/Images/SnowRemoval.PNG" width="200" height="45" class="img-thumbnail" />
                </a>
                <h5></h5>
            </div>*@
        </div>
    </div>
</div>
<ul class="pager">
    <li class="previous"><a href="http://www.thenorthernhandyman.org/ServicePage/TreeRemovalAlbums">« Back</a></li>
    <li class="next"><a href="http://www.thenorthernhandyman.org/ServicePage/MowingAlbums"> Next »</a></li>
</ul>
<div class="list-group">
    <a href="#" class="list-group-item">
        <h4 class="list-group-item-heading">Videos</h4>
    </a>
</div>
<ul class="pager">
    <li class="previous"><a href="http://www.thenorthernhandyman.org/ServicePage/TreeRemovalAlbums">« Back</a></li>
    <li class="next"><a href="http://www.thenorthernhandyman.org/ServicePage/MowingAlbums"> Next »</a></li>
</ul>
<br />
<br />
<br />
<footer>
    <p>
        <small>&copy; @DateTime.Now.Year - TheNorthernHandyman | SnowRemoval</small><br />
        <small> Town of New London - Wauapaca County<br /></small>
    </p>
</footer>
