
@{
    ViewBag.Title = "TreeRemoval | TheNorthernHandyman";
}


    <h1 class="page-header">TreeRemoval</h1>

<div class="jumbotron">
    <div class="row">

    
    <div class="col-lg-3 col-md-4 col-xs-6 thumb">
        <a class="thumbnail" href="http://www.thenorthernhandyman.org/ImageGallery/Trimming">
                    <img src="~/Content/NewImages/TreeRemoval/Trimming/Trimming_Boom.jpg" />
                </a>

            <div class="caption">
                 Trimming
            </div>
    </div>

    <div class="col-lg-3 col-md-4 col-xs-6 thumb">
        <a class="thumbnail" href="http://www.thenorthernhandyman.org/ImageGallery/StumpGrinding">
                    <img src="~/Content/NewImages/StumpGrinding/StumpGrinding1.jpg" />
                </a>
            <div class="caption">
                StumpGrinding&CleanUp
            </div>
    </div>

    <div class="col-lg-3 col-md-4 col-xs-6 thumb">
        <a class="thumbnail" href="http://www.thenorthernhandyman.org/ImageGallery/TreeRemoval" data-title="Before">
                    <img src="~/Content/NewImages/TreeRemoval/TreeRemoval/TreeRemovalStart1-4.jpg" />
                </a>
            <div class="caption">
                 Full Tree Removal
            </div>
    </div>

        <div class="col-lg-3 col-md-4 col-xs-6 thumb">
            <a class="thumbnail" href="http://www.thenorthernhandyman.org/ImageGallery/LimbRemoval">
                    <img src="~/Content/NewImages/TreeRemoval/LimbRemoval/LimbRemoval1.jpg" />
                </a>
            <div class="caption">
                Limb Removal
            </div>
        </div>
</div>
</div>


<ul class="pager">

    <li class="previous"><a href="http://www.thenorthernhandyman.org/ServicePage/SkidSteerWorkAlbums">« Back</a></li>
    <li class="next"><a href="http://www.thenorthernhandyman.org/ServicePage/SnowRemovalAlbums">Next »</a></li>

</ul>


    <h1 class="page-header">Videos</h1>


<div class="well">

    
        
    <video controls="controls">
        <source src="~/Content/Images/Videos/Trimming1.wmv"  />
    </video>

    <video controls="controls">
        <source src="~/Content/Images/Videos/Trimming2.wmv"  />
    </video>
    
</div>


<ul class="pager">
    <li class="previous"><a href="http://www.thenorthernhandyman.org/ServicePage/SkidSteerWorkAlbums">« Back</a></li>
    <li class="next"><a href="http://www.thenorthernhandyman.org/ServicePage/SnowRemovalAlbums">Next »</a></li>
</ul>
<br />
<br />
<br />
<footer>
    <p>
        <small>&copy; @DateTime.Now.Year - TheNorthernHandyman | TreeRemoval</small><br />
        <small> Town of New London - Wauapaca County<br /></small>
    </p>
</footer>




<!-- 16:9 aspect ratio -->
@*<div class="embed-responsive embed-responsive-16by9">
      <iframe class="embed-responsive-item" src="..."></iframe>
    </div>*@

<!-- 4:3 aspect ratio -->
@*<div class="embed-responsive embed-responsive-4by3">
      <iframe class="embed-responsive-item" src="..."></iframe>
    </div>



    https://www.facebook.com/NorthernHandyman/videos/?ref=page_internal*@
