

@{
    ViewBag.Title = "About | TheNorthernHandyman";
   
}

<h3>@ViewBag.Message</h3>

<div class="jumbotron">
    <h1 class="SmallHeader">About My Buissness...</h1>
    <div class="row">
            <p>
                <h4>
                    This is a family owned business with over 30 years of experience.
                    We have the capabilities to fill all your commercial or residential
                    landscaping needs. We can be flexible to accommodate what works best
                    for our clients and with over 10 years of services provided, we always strive
                    to make sure the customer is completely satisfied.
                </h4>
            </p>

       
        
        <div class="col-md-4">
            <h2>Equip.</h2>
            <p>
                <h4>
                    Snow plow trucks & blowers<br />
                    60" Mow & vac<br />
                    Trailers<br />
                    84 inch skid steer snow blower<br />
                    8ft bucket<br />
                    V Bottom salter<br />
                    Commercial 60inch zero turn mower w/vacuum<br />
                </h4>
            </p>
           
            @Html.ActionLink("Pictures »", "Equipment", "Home", new { area = "" }, new { @class = "btn btn-default btn-xs" })
      
        </div>

        <div class="col-md-4">

            <h2>Services</h2>
            <p>
                <h4>
                    Mowing<br />
                    Skid Steer Work<br />
                    Snow Removal<br />
                    Tree Removal<br />
                    Transportion of Cars, Tractors, Etc.<br />
                </h4>
            </p>

          
            @Html.ActionLink("Pictures »", "Services", "Home", new { area = "" }, new { @class = "btn btn-default btn-xs" })
          
        </div>
    </div>
    </div>

<footer>
    <p><small>&copy; @DateTime.Now.Year - TheNorthernHandyman | About</small> </p>
</footer>