

@{
    ViewBag.Title = "Contact | TheNorthernHandyman";
    
}


<<h3>@ViewBag.Message</h3>

<div class="jumbotron">
    <div class="row">

        <form class="form-horizontal">
            <fieldset>
                <legend>Questions...</legend>
                <div class="form-group">
                    <label for="inputEmail" class="col-lg-2 control-label">Your Email</label>
                    <div class="col-lg-10">
                        <input class="form-control" id="inputEmail" placeholder="Email Address" type="text">
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputPassword" class="col-lg-2 control-label">Your Password</label>
                    <div class="col-lg-10">
                        <input class="form-control" id="inputPassword" placeholder="Password" type="password">

                    </div>
                </div>
                <div class="form-group">
                    <label for="textArea" class="col-lg-2 control-label">Message</label>
                    <div class="col-lg-10">
                        <textarea class="form-control" rows="3" id="textArea"></textarea>
                       
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-lg-10 col-lg-offset-2">
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </div>
                </div>
            </fieldset>
        </form>

        <div class="row">
            <address>
                <strong>Location :</strong><br />
                N5043 Larry Rd.<br />
                New London, WI 54961<br />
                <abbr title="Phone"></abbr>
                920.277.5947
            </address>
            <address>
                <strong>Email Me :</strong><a href="mailto:TheNorthernHandyman@gmail.com">TheNorthernHandyman@gmail.com</a><br />
            </address>
            </div>
        </div>
    </div>




<footer>
    <p><small>&copy; @DateTime.Now.Year - TheNorthernHandyman|Contact </small></p>
</footer>
