
@{
    ViewBag.Title = "Employment | TheNorthernHandyman";
  
}

<h1>Employment...<small> Would you like to Join our team?</small></h1>

<div class="jumbotron">
    <p>
        The Northern Handyman will only accept applications for current job opportunities.<br />
        Please see below of a list of available opportunities:<br />
    </p>
    <br />
    <p>
        <h4>
            <strong>Available Positions:</strong>
        </h4>

        <strong> SPECIAL NOTICE</strong><br />
     
        *The Northern HandyMan is accepting applications for immediate hire for the following position:*<br />
        <br />
        Snow Plow Drivers (Must be at least 18 years of age with a valid License)<br />
        Shovelers<br />
    </p>
    <br />
    <br />
    <br />
</div>
@Html.ActionLink(" « BACK", "Index", "Home", new { area = "" }, new { @class = "btn btn-link btn-xs" })
<br />
<br />
<br />
<footer>
    <p>
        <small>&copy; @DateTime.Now.Year - TheNorthernHandyman | Services</small><br />
        <small> Town of New London - Wauapaca County<br /></small>
    </p>
</footer>
