
@{
    ViewBag.Title = "Equipment | TheNorthernHandyman";
}



<div class="jumbotron">
    <h2>Equipment</h2>
    <div class="gallery">
        
         @Html.ActionLink("Back", "About", "Home", new { area = "" } , new { @class = "btn btn-default btn-xs" })
        <div class="row">
            <div class="col-lg-3">
                <a href="~/Content/Images/Mowing1.jpg" data-title="Test2" data-lightbox="MowingPictures">
                    <img src="~/Content/Images/Mowing1.jpg" width="200" height="45" class="img-thumbnail" />
                </a>
            </div>
        </div>
        @Html.ActionLink("Back", "About", "Home", new { area = "" }, new { @class = "btn btn-default btn-xs" })
    </div>
</div>