
@{
    ViewBag.Title = "Equipment | TheNorthernHandyman";
}



<div class="jumbotron">
    <h2>Equipment</h2>
    <div class="gallery">
       
        <br />
        @Html.ActionLink(" « BACK", "About", "Home", new { area = "" }, new { @class = "btn btn-link btn-xs" })
        <br />
        <div class="row">
            <div class="col-lg-3">
                <a href="~/Content/Images/Equipment.jpg" data-title="" data-lightbox="NorthernHandyman">
                    <img src="~/Content/Images/Equipment.jpg" width="200" height="45" class="img-thumbnail" />
                </a>
            </div>
            <div class="col-lg-3">
                <a href="~/Content/Images/Equipment2.jpg" data-title="" data-lightbox="NorthernHandyman">
                    <img src="~/Content/Images/Equipment2.jpg" width="200" height="22" class="img-thumbnail" />
                </a>
            </div>
            <div class="col-lg-3">
                <a href="~/Content/Images/Equipment3.jpg" data-title="" data-lightbox="NorthernHandyman">
                    <img src="~/Content/Images/Equipment3.jpg" width="200" height="45" class="img-thumbnail" />
                </a>
            </div>
            <div class="col-lg-3">
                <a href="~/Content/Images/Equipment4.jpg" data-title="" data-lightbox="NorthernHandyman">
                    <img src="~/Content/Images/Equipment4.jpg" width="200" height="45" class="img-thumbnail" />
                </a>
            </div>
            <div class="col-lg-3">
                <a href="~/Content/Images/Equipment5.jpg" data-title="" data-lightbox="NorthernHandyman">
                    <img src="~/Content/Images/Equipment5.jpg" width="200" height="45" class="img-thumbnail" />
                </a>
            </div>
            <div class="col-lg-3">
                <a href="~/Content/Images/Equipment6.jpg" data-title="" data-lightbox="NorthernHandyman">
                    <img src="~/Content/Images/Equipment6.jpg" width="200" height="45" class="img-thumbnail" />
                </a>
            </div>
        </div>
        <br />
        @Html.ActionLink(" « BACK", "About", "Home", new { area = "" }, new { @class = "btn btn-link btn-xs" })
        <br /> 
      
    </div>
</div>
<footer>
    <p><small>&copy; @DateTime.Now.Year - TheNorthernHandyman | Equipment</small> </p>
</footer>