
@{
    ViewBag.Title = "FireWood | TheNorthernHandyman";
}
<h1 class="SmallHeader">FireWood</h1>
<div class="jumbotron">
    <br />
    @Html.ActionLink(" « BACK", "Index", "Home", new { area = "" }, new { @class = "btn btn-link btn-xs" })
    <br />
    <div class="gallery">
        <div class="row">
            <div class="col-lg-3">
                <a href="~/Content/Images/FireWoodPile.jpg" data-title="" data-lightbox="FireWood">
                    <img src="~/Content/Images/FireWoodPile.jpg" width="200" height="45" class="img-thumbnail" />
                </a>
            </div>
        </div>
        <br />
        @Html.ActionLink(" « BACK", "Index", "Home", new { area = "" }, new { @class = "btn btn-link btn-xs" })
        <br />
    </div>
</div>
<footer>
    <p><small>&copy; @DateTime.Now.Year - TheNorthernHandyman | FireWood</small> </p>
</footer>
