
@{
    ViewBag.Title = "FireWood";
}

<div class="jumbotron">

    @Html.ActionLink("« Back", "Index", "Home", new { area = "" }, new { @class = "btn btn-default btn-xs" })
    <div class="gallery">
        <div class="row">
            <div class="col-lg-3">
                <a href="~/Content/Images/FireWoodPile.jpg" data-title="Test2" data-lightbox="MowingPictures">
                    <img src="~/Content/Images/FireWoodPile.jpg" width="200" height="45" class="img-thumbnail" />
                </a>
            </div>
        </div>
        @Html.ActionLink(" « Back", "Index", "Home", new { area = "" }, new { @class = "btn btn-default btn-xs" })
    </div>
</div>
<footer>
    <p><small>&copy; @DateTime.Now.Year - TheNorthernHandyman|Contact </small></p>
</footer>