
@{
    ViewBag.Title = "Images | TheNorthernHandyman";
}

<h2>Images</h2>
<head>

</head>

<div class="jumbotron">
    <div class="gallery">
        <div class="row">
            <div class="col-lg-3">
                <a href="~/Content/Images/BobCat_Tree.jpg" data-title="Test" data-lightbox="Vacation">
                    <img src="~/Content/Images/BobCat_Tree.jpg" width="200" class="img-thumbnail" />
                </a>
            </div>
            <div class="col-lg-3">
                <a href="~/Content/Images/BrushRemoval.jpg" data-title="Test2" data-lightbox="Vacation" >
                    <img src="~/Content/Images/BrushRemoval.jpg" width="200" class="img-thumbnail"  />
                </a>
            </div>
            <div class="col-lg-3">
                <a href="~/Content/Images/Johndeere Sweeper.jpg" data-title="BobCat Caption" data-lightbox="Vacation">
                    <img src="~/Content/Images/Johndeere Sweeper.jpg" width="200" class="img-thumbnail" />
                </a>
        </div>
    </div>
</div>


            @foreach (var image in (IEnumerable<string>)ViewBag.Images)
            {

                <img src="@Url.Content(image)" alt="TheNorthernHandyman" />

            }



</div>


<p><small>&copy; @DateTime.Now.Year - TheNorthernHandyman|Contact </small></p>

@*@foreach (FileInfo fi in Model)
{
    string test = fi.FullName;
    <img src="@Url.Content(test)" />

}*@
