
@{
    ViewBag.Title = "Images | TheNorthernHandyman";
}

<h2>Images</h2>

<div class="jumbotron">

            @foreach (var image in (IEnumerable<string>)ViewBag.Images)
            {

                <img src="@Url.Content(image)" alt="TheNorthernHandyman" />

            }



</div>

<p><small>&copy; @DateTime.Now.Year - TheNorthernHandyman|Contact </small></p>

@*@foreach (FileInfo fi in Model)
{
    string test = fi.FullName;
    <img src="@Url.Content(test)" />

}*@
