
@{
    ViewBag.Title = "Images | TheNorthernHandyman";
}

<h2>Images</h2>
<head>
    <link href="~/Content/lightbox.css"  rel="stylesheet" />
</head>

<div class="jumbotron">


            @foreach (var image in (IEnumerable<string>)ViewBag.Images)
            {

                <img src="@Url.Content(image)" alt="TheNorthernHandyman" />

            }



</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="~/Scripts/lightbox.min.js"></script>

<p><small>&copy; @DateTime.Now.Year - TheNorthernHandyman|Contact </small></p>

@*@foreach (FileInfo fi in Model)
{
    string test = fi.FullName;
    <img src="@Url.Content(test)" />

}*@
