
@{
    ViewBag.Title = "Images | TheNorthernHandyman";
            string lastImage = string.Empty;
}

<h2>Images</h2>
<head>

</head>

<div class="jumbotron">



    @foreach (var image in (List<string>)ViewBag.Images)
            {



                <div class="col-lg-3">
                    <a href="~/Content/Images/LimbRemoval1.jpg" data-title="" data-lightbox="Equip">
                        <img src=@Url.Content(image) width="300" height="300" class="img-thumbnail" />
                    </a>

                </div>

                }


                if (lastImage.StartsWith("~/Content/Images/Equip") && !image.StartsWith("~/Content/Images/Equip"))
                {
                    @*</div>
                    </div>*@

                }


            lastImage = image;

        }






    
</div>







        <p><small>&copy; @DateTime.Now.Year - TheNorthernHandyman|Contact </small></p>


