@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>The Northern Handyman...</h1>
    <p class="lead">
        Is a home based buisness and is centered around focusing on doing
        the job right the FIRST time with being safety conscious and curtious.
        Feel free to contact us for any services listed on our Services page.
        We are Fully insured and our company strongly believes in being
        enviornmentally friendly.We do not burn debris or leave it lying around.
        If needed we can haul away debris. We offer topsoil and provide seeding when
        necessary.
    </p>
    <p><a href="https://www.facebook.com/NorthernHandyman/" class="btn btn-primary btn-lg"> More &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Videos</h2>
        <p>

        </p>
        <p><a class="btn btn-default" href="https://www.facebook.com/NorthernHandyman/videos/?ref=page_internal"> Bring Me To Videos &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Gallery</h2>
        <p>

        </p>
        <p><a class="btn btn-default" href="https://www.facebook.com/NorthernHandyman/photos/">Bring Me To Photos &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Web Hosting</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>