
@{
    ViewBag.Title = "Mowing | TheNorthernHandyman";

}

<h1 class="SmallHeader">Mowing</h1>
<div class="jumbotron">
    <p> 
        <h4>
            Keep your yard looking neet and tidy all summer long.
            Whether you need recurring services all season long, or
            Weekly and Bi-Weekly services The Northern Handyman can
            work to meet your  full lawn and landscape maintenence.
            Service can include: mowing, trimming around trees/landscape
            beds/home and blowing away the clippings from sidewalks and drive way.
        </h4>
    </p>
        <div class="gallery">
            <div class="row">
                <div class="col-lg-3">
                    <a href="~/Content/Images/Mowing1.jpg" data-title="Test2" data-lightbox="MowingPictures">
                        <img src="~/Content/Images/Mowing1.jpg" width="200" height="45" class="img-thumbnail" />
                    </a>
                </div>
            </div>
        </div>
</div>
@Html.ActionLink(" « BACK", "Services", "Home", new { area = "" }, new { @class = "btn btn-link btn-xs" })
<br />
<br />
<br />
<footer>
    <p>
        <small>&copy; @DateTime.Now.Year - TheNorthernHandyman | Services</small><br />
        <small> Town of New London - Wauapaca County<br /></small>
    </p>
</footer> 