
@*@{
    ViewBag.Title = "SideBarLocationIndicator";
}*@



@*<div id="wrapper">*@
    <!--Sidebar-->
    @*<div id="Sidebar-Wrapper">*@


        @*<ul class="sidebar-nav">
            <li><a href="#"> Home</a></li>
            <li><a href="#">Services</a></li>
            <li><a href="#"> About</a></li>
        </ul>*@
       
    @*</div>*@

    @*//Page Content//*@
    @*<div id="page-content-wrapper">
        <div class="container-fluid">
            <a href="#" class="btn btn-success" id="menu-toggle"> Toggle Menu</a>
        </div>
    </div>
    Menu Toggle script
    <script>
        $("#menu-toggle").click( funtion (e) {
    e.preventDefult();
        $("#wrapper").toggleClass("toggled");
        });
    </script>
</div>*@
<!-- Always on top: Position Fixed-->
<header>
  
</header>
<!-- Fixed size after header-->
@*<div class="content">*@
    <!-- Always on top. Fixed position, fixed width, relative to content width-->
    @*<div class="sidebar1">
        We serve the Fox Cities, WI:<br />

        - Appleton<br />
        - Combined Locks<br />
        - Kaukauna<br />
        - Kimberly<br />
        - Little Chute<br />
        - Menasha<br />
        - Neenah<br />
        - Buchanan<br />
        - Grand Chute<br />
        - Greenville<br />
        - Harrison<br />

        Don't See Your City Listed?<br />
        We are more than happy to travel to the outlying areas for an additional fee to cover our travel costs.<br />

        Contact us for details.<br />
    </div>*@
    <!-- Scrollable div with main content -->
    @*<div id="scrollable2">*@
  
  
    @*</div>*@
    <!-- Always on top. Fixed position, fixed width, relative to content width -->
    @*<div class="sidebar2">
        We serve the Fox Cities, WI:<br />

        - Appleton<br />
        - Combined Locks<br />
        - Kaukauna<br />
        - Kimberly<br />
        - Little Chute<br />
        - Menasha<br />
        - Neenah<br />
        - Buchanan<br />
        - Grand Chute<br />
        - Greenville<br />
        - Harrison<br />

        Don't See Your City Listed?<br />
        We are more than happy to travel to the outlying areas for an additional fee to cover our travel costs.<br />

        Contact us for details.<br />
    </div>*@
@*</div>*@

