


            <img src="~/Content/NewImages/Equipment/WisconsinMap.png" />
            <small>
                <br />
                <br />

                <strong>Primary Location: <br /></strong>
                - New London, WI <br />
                <br />
                <strong> Local towns near New London:<br /></strong>

                - Northport, WI<br />
                - Sugar Bush, WI<br />
                - Royalton, WI<br />
                - Hortonville, WI<br />

                - Nowell, WI<br />
                - North Readfield, WI<br />
                - Stephensville, WI<br />
                - Little Wolf, WI<br />

                - Readfield, WI<br />
                - Shiocton, WI <br />
                - Dale, WI<br />
                - Bear Creek, WI<br />
                <br />
                <strong>Within a 25 mile radius of New London:</strong><br />
                - Black Creek<br />
                - Combined Locks<br />
                - Kaukauna<br />
                - Freedom<br />
                - Kimberly<br />
                - Little Chute<br />
                - Nichols<br />
                - Seymour<br />
                - Shiocton<br />
                - Appleton<br />
                - Bear Creek<br />
                - Big Falls<br />
                - Clintonville<br />
                - Dale<br />
                - Embarrass<br />
                - Fremont<br />
                - Greenville<br />
                - Hortonville<br />
                - Iola<br />
                <br />
                <strong> We also serve the Fox Cities:<br /></strong>

                - Appleton, WI<br />
                - Combined Locks, WI<br />
                - Kaukauna, WI<br />
                - Kimberly, WI<br />
                - Little Chute, WI<br />
                - Menasha, WI<br />
                - Grand Chute, WI<br />
                - Greenville, WI<br />
                <br />
                <strong> Don't See Your City Listed?<br /></strong>
                We are more than happy to travel to the outlying areas for an additional fee to cover our travel costs.<br />
                <br />
                <strong>Contact us for details.<br /></strong>
            </small>
     
    
@*<main id="page-wrapper4" class="container">
    <div id="column-red" class="column-nav">
        <nav id="navbar-red" class="navbar navbar-default" role="navigation">

            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".sidebar-navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <span class="visible-xs"><a class="navbar-brand" href="/">Column sidebar</a></span>
            </div>

            <div class="navbar-collapse collapse sidebar-navbar-collapse">

                <ul class="nav navbar-nav">
                    <li class="hidden-xs"><a class="navbar-brand" href="/">Column sidebar</a></li>
                    <li class="sidebar-form">
                        <form class="input-group" border="0" id="af" name="af" role="search" action="/archive.php">
                            <input class="form-control" id="aa" name="aa" placeholder="Search" type="text">
                            <span class="input-group-btn">
                                <button type="submit" class="btn btn-md" id="as" name="as" value="Go"><i class="glyphicon glyphicon-search"></i></button>
                            </span>
                        </form>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="glyphicon glyphicon-th-list"></i> Services <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li><a href="/">Carwashes</a></li>
                            <li><a href="/">Lapdances</a></li>
                            <li><a href="/">Musicals</a></li>
                            <li><a href="/">Tutorials</a></li>
                            <li><a href="/">Catering</a></li>
                        </ul>
                    </li>

                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="glyphicon glyphicon-tags"></i> Products <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li><a href="/">Books</a></li>
                            <li><a href="/">Leaflets</a></li>
                            <li><a href="/">CDs</a></li>
                            <li class="divider"></li>
                            <li class="dropdown-header">Merchandise</li>
                            <li><a href="/">Towels</a></li>
                            <li><a href="/">Flags</a></li>
                            <li><a href="/">Coffee Mugs</a></li>
                        </ul>
                    </li>

                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="glyphicon glyphicon-user"></i> Profile <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li><a href="/"><i class="glyphicon glyphicon-user"></i> Profile</a></li>
                            <li><a href="/"><i class="glyphicon glyphicon-plus"></i> Account</a></li>
                            <li><a href="/"><i class="glyphicon glyphicon-cog"></i> Settings</a></li>
                            <li><a href="/"><i class="glyphicon glyphicon-comment"></i> Notifications</a></li>
                        </ul>
                    </li>

                </ul>
            </div><!--/.nav-collapse -->
        </nav><!--/.navbar -->
    </div><!--/.column-nav -->

    <div class="container column-main">
        <div class="col-md-6">
            <h3>Scale the page to see the collapsed sidebar on small screens</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin rhoncus venenatis ante ac vestibulum. Curabitur congue, leo non elementum interdum, sapien erat iaculis felis, ut vulputate turpis mauris molestie lorem. Integer urna libero, pharetra sit amet massa in, blandit tempor eros. Nulla risus arcu, lacinia vel felis quis, varius gravida erat. Duis molestie, dolor et porttitor iaculis, mi dui aliquet justo, at mattis nisi leo vel nunc. In dapibus est aliquet, auctor nisl a, interdum felis. Donec sed ligula in ligula hendrerit congue non tristique risus. Morbi sollicitudin ligula non erat placerat, non vulputate nibh rutrum. Phasellus consectetur nibh sit amet ipsum sagittis, et lobortis ligula sollicitudin. Nunc ac diam non diam lacinia bibendum lacinia in magna. Morbi non ante eget ante aliquam porttitor. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Suspendisse potenti. Vestibulum faucibus turpis sit amet mauris accumsan volutpat. Interdum et malesuada fames ac ante ipsum primis in faucibus. Praesent condimentum arcu ut erat commodo, eu porta mauris hendrerit.</p>
        </div>

        <div class="col-md-6">
            <h3>It is important to keep all the text on the main page within the page-wrapper</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin rhoncus venenatis ante ac vestibulum. Curabitur congue, leo non elementum interdum, sapien erat iaculis felis, ut vulputate turpis mauris molestie lorem. Integer urna libero, pharetra sit amet massa in, blandit tempor eros. Nulla risus arcu, lacinia vel felis quis, varius gravida erat. Duis molestie, dolor et porttitor iaculis, mi dui aliquet justo, at mattis nisi leo vel nunc. In dapibus est aliquet, auctor nisl a, interdum felis. Donec sed ligula in ligula hendrerit congue non tristique risus. Morbi sollicitudin ligula non erat placerat, non vulputate nibh rutrum. Phasellus consectetur nibh sit amet ipsum sagittis, et lobortis ligula sollicitudin. Nunc ac diam non diam lacinia bibendum lacinia in magna. Morbi non ante eget ante aliquam porttitor. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Suspendisse potenti. Vestibulum faucibus turpis sit amet mauris accumsan volutpat. Interdum et malesuada fames ac ante ipsum primis in faucibus. Praesent condimentum arcu ut erat commodo, eu porta mauris hendrerit.</p>
        </div>
    </div>
</main>*@ 