
@{
    ViewBag.Title = "SkidSteerPictures";
}


<div class="jumbotron">


    <div class="gallery">

        <div class="row">
            <div class="col-lg-3">
                @*This Referecnes the Content/ Images Folder*@    @*The Data Lightbox is the Grouping of the picutres.  Its the album name psshh*@
                <a href="~/Content/Images/Johndeere Sweeper.jpg" data-title="84&#34 Skid Steer Snow Blower" data-lightbox="SkidSteePictures">
                    <img src="~/Content/Images/Johndeere Sweeper.jpg"class="img-thumbnail" />
                </a>
            </div>
            <div class="col-lg-3">
                <a href="~/Content/Images/BrushRemoval.jpg" data-title="Test2" data-lightbox="SkidSteePictures">
                    <img src="~/Content/Images/BrushRemoval.jpg" width="200" height="45" class="img-thumbnail" />
                </a>
            </div>
            <div class="col-lg-3">
                <a href="~/Content/Images/SnowRemoval.PNG" data-title="BobCat Caption" data-lightbox="SkidSteePictures">
                    <img src="~/Content/Images/Johndeere Sweeper.jpg" width="200" height="200" class="img-thumbnail" />
                </a>
            </div>
        </div>

    </div>
<a href="http://localhost:49360/Home/Services" class="btn btn-link">Back</a>
