
@{
    ViewBag.Title = "SnowRemovalPictures";
}
<div class="jumbotron">

    <div class="gallery">

        <div class="row">
            <div class="col-lg-3">
                @*This Referecnes the Content/ Images Folder*@    @*The Data Lightbox is the Grouping of the picutres.  Its the album name psshh*@
                <a href="~/Content/Images/SnowRemoval.PNG" data-title="Skid Steer-Snow Blower Attachment" data-lightbox="Snow Removal">
                    <img src="~/Content/Images/SnowRemoval.PNG" width="200" height="45" class="img-thumbnail" />
                </a>
            </div>
            

        </div>




    </div>
<a href="http://localhost:49360/Home/Services" class="btn btn-link">Back</a>
</div>
