
@{
    ViewBag.Title = "Snow Removal | TheNorthernHandyman";
}
<h1 class="SmallHeader">Snow Removal</h1>
<div class="jumbotron">
    <br />
    @Html.ActionLink(" « BACK", "Services", "Home", new { area = "" }, new { @class = "btn btn-link btn-xs" })
    <br />
    <div class="gallery">    
        <div class="row">
            <div class="col-lg-3">
                @*This Referecnes the Content/ Images Folder*@    @*The Data Lightbox is the Grouping of the picutres.  Its the album name psshh*@
                <a href="~/Content/Images/SnowRemoval.PNG" data-title="Skid Steer-Snow Blower Attachment" data-lightbox="Snow Removal">
                    <img src="~/Content/Images/SnowRemoval.PNG" width="200" height="45" class="img-thumbnail" />
                </a>
            </div>
        </div>
    </div>
    <br />
    @Html.ActionLink(" « BACK", "Services", "Home", new { area = "" }, new { @class = "btn btn-link btn-xs" })
    <br />
</div>
<footer>
    <p><small>&copy; @DateTime.Now.Year - TheNorthernHandyman | Snow Removal</small> </p>
</footer>