
@{
    ViewBag.Title = "TreeRemoval | TheNorthernHandyman";
}
<h1>TreeRemoval</h1>
<div class="jumbotron">
    <br />

    <div class="gallery">
        <div class="row">
            <div class="col-lg-3">
                <h3>
                    TreeRemoval
                </h3>

                <a href="http://www.thenorthernhandyman.org/Home/TreeRemovalGallery" data-title="">
                    <img src="~/Content/Images/TreeRemoval1.jpg" width="200" height="45" class="img-thumbnail" />
                </a>
            </div>
            <div class="col-lg-3">
                <h3>
                    Trimming
                </h3>
                    <a href="http://www.thenorthernhandyman.org/Home/TrimmingGallery" data-title="">
                        <img src="~/Content/Images/LimbRemoval1.jpg" width="200" height="45" class="img-thumbnail" />
                    </a>
            </div>
             <div class="col-lg-3">
                 <h3>
                    StumpGrinding&CleanUp
                 </h3>
                    <a href="http://www.thenorthernhandyman.org/Home/StumpGrindingGallery" data-title="Before">
                        <img src="~/Content/Images/StumpGrindingCleanup1.jpg" width="200" height="45" class="img-thumbnail" />
                    </a>
                </div>
        </div>
    </div>   
</div>
   @Html.ActionLink(" « BACK", "Services", "Home", new { area = "" }, new { @class = "btn btn-link btn-xs" })
<br />
<br />
<br />
<footer>
    <p>
        <small>&copy; @DateTime.Now.Year - TheNorthernHandyman | Services</small><br />
        <small> Town of New London - Wauapaca County<br /></small>
    </p>
</footer>         
             



