
@{
    ViewBag.Title = "Employment | TheNorthernHandyman";

}

<h1>Employment...<small> Would you like to Join our team?</small></h1>

<div class="jumbotron">
    <p>
        we are always looking to add quality individuals to our team of experts. If you are interested in joining our team,<br />
        Please see below of a list of available opportunities: or call the number below for more information.<br />
        The Northern Handyman will only accept applications for current job opportunities.
    </p>
    <br />
    <p>
        <h4>
            <strong>Available Positions:</strong>
        </h4>

        <strong> SPECIAL NOTICE</strong><br />

        *The Northern HandyMan is accepting applications for immediate hire for the following position:*<br />
        <br />
        Snow Plow Drivers (Must be at least 18 years of age with a valid License)<br />
        Shovelers<br />
    </p>
    <br />
    <br />
    <br />
</div>
<ul class="pager">
    <li class="previous"><a href="http://www.TheNorthernHandyman.org/HomePage/ContactEmail">« Back</a></li>
    <li class="next"><a href="http://www.TheNorthernHandyman.org/HomePage"> Next »</a></li>
</ul>
<br />
<br />
<br />
<footer>
    <p>
        <small>&copy; @DateTime.Now.Year - TheNorthernHandyman | Employment</small><br />
        <small> Town of New London - Wauapaca County<br /></small>
    </p>
</footer>