
@{

    ViewBag.Title = "TheNorthernHandyman";

}



<div class="jumbotron">
        
    <h1>The Northern Handyman...</h1>
    <p class="lead">
        Is a home based buisness and is centered around focusing on doing
        the job right the FIRST time while being safety conscious and curtious.
    </p>
    <p>
        The Northern Handyman is able to go beyond just mowing the lawn in the summer season
        by providing you with affordable snow removal services during the winter cold seasons.
        We provide affordable all-year-round services Or just one time seasonal services.
    </p>
    <p>
        Feel free to contact us for any services listed on our Services page.
        We are Fully insured and our company strongly believes in being
        enviornmentally friendly. If needed we can haul away debris. We do not 
        leave it lying around. We offer topsoil and provide seeding when
        necessary.
    </p>

    <a class="btn btn-default btn-xs" href="https://www.facebook.com/NorthernHandyman/"><small> Find Out More » </small> &raquo;</a>
</div>

<div class="list-group">
    <a href="#" class="list-group-item">
        <h4 class="list-group-item-heading">
            <strong>SPECIAL:</strong> Ask About our 10% Discount for Veterans and Senior Citizens! Or Our 20% for disabled.
        </h4>
    </a>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>
            *Landscaping
        </h2>
        <p>
            Landscaping has been my passion for many years, its more then
            just clearing out existing shrubbery, but what it can be shaped into.
            We'll help you from design to installation.
            Mulch, stone, plants...ect.
            I do every job as if it was my home, which means i’m going to do
            it right the first time.
        </p>
    </div>
    <div class="col-md-4">
        <h2>Tree Removal</h2>
        <p>
            We are able to cut and remove all sizes of tree, from small pines to
            large oaks we have the capabilities to finish the job. We remove Trees,
            brush, limb’s and even provide stump and leaf removal and make your yard
            look as if the tree was never there.
        </p>
    </div>
    <div class="col-md-4">
        <h2>Snow Removal</h2>
        <p>
            Living in Wisconsin, Snow is a part of life. The northern handyman
            can take the stress of removing snow at your business or home and make
            it a thing of the past. We have plows and a skid steer with
            an 84″ bucket for all your snow removal needs.
        </p>
    </div>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>*Mowing</h2>
        <p>
            We provide mowing services for commercial and residential locations.
            We remove all the garbage in the area prior to mowing and follow up with
            weed whacking around any hard to reach areas. After which we clean up any
            leaves or debris to keep your landscape looking professional and clean.
        </p>
    </div>
    
        <h1> * For Sale *</h1>
            <div class="col-md-4">

            <h4>FireWood</h4>
            
                <small>
                    $60/Face Cord of mixed hardwood.<br />
                    Pick-Up or Delivery<br />
                </small>
            <br />

            <p>
                <small>
                    <strong>*Free* </strong> Delivery on purchases of 3-6 Face Cords within a 25 mile radius of New London WI,
                </small>
            </p>
            @Html.ActionLink("More »", "FireWood", "ProductForSale", new { area = "" }, new { @class = "btn btn-default btn-xs" })

        </div>
    </div>
<br />
<br />
<br />
<ul class="pager">
    <li class="next"><a href="http://www.TheNorthernHandyman.org/HomePage/About">Next »</a></li>
</ul>

<footer>
    <p>
        <small>&copy; @DateTime.Now.Year - TheNorthernHandyman | Home</small> <br />
        <small> Town of New London - Wauapaca County<br /></small>
    </p>
</footer>





